h1 {
    text-align: left;
}
div {
    text-align: center;
    font-size: 12pt;
    fill: cadetblue;
    border: 11px;

}
h2{
    width: 300px;
    border-radius: 25px;
    border-color: blue;
    padding: 50px;
    margin: 20px;
    background-color: blanchedalmond;
}


