body{
    background-color:black
}
h1 {
    color:white
}

h2{
    color:white
}
h3{
    color: white;
}

div1 {
    color:white
}
div {
    color: white;
    align-items: left;
    font-size: 12pt;
    fill: cadetblue;
    border: 11px;

}
div3{
    color:white
}
div5 h1{
    color: white
}
div5{
    background-color: white;
    width: 300px;
}
h2{
    color: beige;
    text-align: center;
    width: 300px;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
    background-color: rgb(17, 17, 16);
    box-shadow: 10px 10px;
}


